input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 2px; 
  background: white; 
  border-radius: 5px; 
  outline: none; 
}

input[type="range"]:active,
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 10px; 
  height: 10px; 
  background: white;
  border-radius: 50%; 
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover{
  width: 12px;
  height:12px;
}
